<div class="app-navbar">
  <!-- <div class="app-navbar-item"
    *ngFor="let item of items"
      routerLink="/{{item.path}}"
      routerLinkActive="active"
      ariaCurrentWhenActive="page">
    {{ item.name }}
  </div> -->

  <div class="app-navbar-item" routerLink="/angular" routerLinkActive="active" ariaCurrentWhenActive="page">
    Angular
  </div>
  <div class="app-navbar-item" routerLink="/explore" routerLinkActive="active" ariaCurrentWhenActive="page">
    Explore
  </div>
  <div class="app-navbar-item" routerLink="/transact" routerLinkActive="active" ariaCurrentWhenActive="page">
    Transact
  </div>
</div>
